.nav-links-container {
  li:first-child a {
    padding-left: 60px !important;
  }

  a {
    padding: 0px 20px !important;
    font-weight: 300;
  }
}

.nav-btn {
  height: 50px;
  column-gap: 20px;

  button {
    width: 150px;
    padding: 0px !important;
  }
}

.font-poppins {
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section-start {
  .star {
    position: absolute;
    top: 7%;
    right: 20%;
  }

  .circle {
    position: absolute;
    bottom: -12%;
    left: -9%;
  }

  .text-head {
    color: var(--FONT-BLACK, #222);
    font-family: "Poppins";
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
  }
  .gradient-text {
    background: var(
      --GRA-Blue2,
      linear-gradient(
        169deg,
        #3984f4 -6.01%,
        #0cd3ff 36.87%,
        #2f7cf0 78.04%,
        #0e65e8 103.77%
      )
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins";
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
  }
}
