.nav-links-container { 
    li:first-child a { 
        padding-left: 60px !important; }

    a { 
    
    padding: 0px 20px !important;
    font-weight: 300;

     }
      }

.nav-btn {
   height: 50px;
   column-gap: 20px;

        button { 
            width: 150px;
            padding:0px !important; }
      }
    