.nav-links-container {
  li:first-child a {
    padding-left: 60px !important;
  }

  a {
    padding: 0px 20px !important;
    font-weight: 300;
  }
}

.nav-btn {
  height: 50px;
  column-gap: 20px;

  button {
    width: 150px;
    padding: 0px !important;
  }
}

.font-poppins {
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section-start {
  .star {
    position: absolute;
    top: 7%;
    right: 20%;
  }

  .circle {
    position: absolute;
    bottom: -12%;
    left: -9%;
  }

  .text-head {
    color: var(--FONT-BLACK, #222);
    font-family: "Poppins";
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
  }
  .gradient-text {
    background: var(
      --GRA-Blue2,
      linear-gradient(
        169deg,
        #3984f4 -6.01%,
        #0cd3ff 36.87%,
        #2f7cf0 78.04%,
        #0e65e8 103.77%
      )
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins";
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
  }
}

.section-graph {
  .graph-emoji {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  a {
    color: var(--BLUE, #2f7cf0);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  .graph-head {
    color: var(--FONT-SECONDARY, #666);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
  }
  .plus {
    color: green;
  }
  .minus {
    color: red;
  }

  .logo {
    padding: 0;
    width: 25px;
    height: 25px;
  }

  .row-border {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 4px;
  }
}

.arrow {
  position: absolute;
  top: 40%;
  right: -20%;
}

.section-faq {
  .accordion {
    background-color: white;
    cursor: pointer;
    padding: 20px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    transition: 0.4s;
  }

  .accordion:hover {
    background-color: white;
  }

  .panel {
    padding: 0 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid #cccccc;
  }
}

.back-top-btn {
  a {
    text-decoration: none;
    button {
      color: #666;
      font-size: 16px;
      font-weight: 400;
      display: flex;
      width: 180px;
      height: 60px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 12px;
      border: 1px solid #ddd;
      background: #fafafa;
    }
  }
}

footer {
  .container {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  li {
    list-style-type: none;
  }
}
